<div id="productEditContainer">
    <div class="container-fluid col-md-9 card mt-5">
        <form class="form-prodAdd card-body" [formGroup]="prodUpdateForm" novalidate (ngSubmit)="onSubmit()">
            <h1 class="h3 mb-4 font-weight-normal">Update Product</h1>

            <div class="form-group">
                <label for="prodname" class="sr-only mt-1">Product Name</label>
                <input type="text" id="prodname" class="form-control" formControlName="prodname"
                    placeholder="Product Name" [(ngModel)]="product.prodname">
                <p *ngIf="(prodUpdateForm.controls.prodname.dirty || prodUpdateForm.controls.prodname.touched) && this.prodUpdateForm.controls.prodname.errors"
                    class="text-danger">
                    Product name is required with atleast 3 characters</p>
            </div>

            <div class="form-group">
                <label for="proddesc" class="sr-only mt-1">Product Description</label>
                <textarea rows="7" cols="5" id="proddesc" class="form-control" formControlName="proddesc"
                    placeholder="Product Description" [(ngModel)]="product.proddesc"></textarea>
                <p *ngIf="(prodUpdateForm.controls.proddesc.dirty || prodUpdateForm.controls.proddesc.touched) && this.prodUpdateForm.controls.proddesc.errors"
                    class="text-danger">
                    Product description is required with atleast 3 characters</p>
            </div>

            <div class="form-group">
                <label for="prodprice" class="sr-only mt-1">Product Price</label>
                <input type="number" id="prodprice" class="form-control" formControlName="prodprice"
                    placeholder="Product Price" [(ngModel)]="product.prodprice">
                <p *ngIf="(prodUpdateForm.controls.prodprice.dirty || prodUpdateForm.controls.prodprice.touched) && this.prodUpdateForm.controls.prodprice.errors"
                    class="text-danger">
                    Product price is required</p>
            </div>

            <button (click)="updateProduct(prodname.value, proddesc.value, prodprice.value)"
                class="btn btn-warning btn-block mt-4" type="submit" [disabled]="!prodUpdateForm.valid">Update
                Product</button>
        </form>
    </div>
</div>