<div id="productsContainer">
    <div class="container-fluid col-md-9 card mt-5">
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="table-success">
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">Product Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <th scope="row">{{ product.prodname }}</th>
                        <td>{{ product.proddesc }}</td>
                        <td>{{ product.prodprice }}</td>
                        <td>
                            <a [routerLink]="['/edit', product._id]" class="btn btn-primary">Edit</a>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger float-right" data-toggle="modal"
                                data-target="#exampleModalCenter">
                                Delete
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Do you really want to delete this record? This process cannot be undone.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancel</button>
                                            <button (click)="deleteProduct(product._id)" data-dismiss="modal" type="button" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>